@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Montserrat:wght@400;700&display=swap');

 body {
    margin: 0;
    font-family: 'Nunito', 'Montserrat';
    width: 100%;
    
  } 

  .testimonials-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
    background-image: url(../../assets/bg.png);
   
}
  
  .section-title {
    color: #0056e0;
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .main-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  
  .reviews {
    display: flex;
    justify-content: center;
    gap: 20px;
   
  }
  
  .review-card {
    background-color: white;
    width: 20%;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
  }
  
  .review-card .stars {
    color: #fbbc04;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .review-card p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-info h3 {
    font-size: 1rem;
    margin: 0;
  }
  
  .user-info p {
    font-size: 0.85rem;
    color: #777;
    margin: 0;
  }

  .star-icon {
    width: 70px;
    height: 20px;
    margin-left: 90px;
  }
  
  
  /* Responsive Design */
  @media (max-width: 480px) {
    .reviews {
      width:55%;
      margin-left: 240px;
      flex-wrap: wrap;
    }

    body {
      width: 0%;
      
     
    }

    .testimonials-container {
     
     width: 100%;
     margin-left: 55px;
    }

    .section-title{
      margin-left: 230px;
      font-size: 1.5rem;
    }
    .review-card {
      width: 100%;
    }

    .main-title {
      font-size: 1.5rem;
      margin-bottom: 40px;
      margin-left: 225px;
    }
  }
  
  @media (max-width: 768px) {
    .review-card {
      width: 100%;
    }

    .reviews-grid {
      width: 50%;
      margin-left: 153px;
    }
  }
  