@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
   
    background-color: rgba(247, 249, 252, 1);
    
  }
  
  .trusted-section {
    padding: 5px;
    text-align: center;
    background-color: rgba(247, 249, 252, 1);
   
  }
  
  .text-content h2 {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  
  .text-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 40px;
  }
  
  .logo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
  }
  
  .logo-grid img {
    max-width: 80%;
    width: 60px;
    height: auto;
  }
  