@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Montserrat:wght@400;700&display=swap');
body {
  font-family: 'Nunito', 'Montserrat';
  margin: 0;
  padding: 0;
  background-color: rgba(247, 249, 252, 1);
}

.partners-section {
  text-align: center;
  padding: 40px 20px;
}

.partners-section h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 20px;
}

.logos-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.partner-logo {
  max-height: 50px;
  max-width: 100px;
  object-fit: contain;
}

@media (max-width: 768px) {
  
}

/* Mobile view */
@media (max-width: 480px) {
  .partners-section {
    width: 100%;
   
  }

  .partners-section h2 {
    width: 60%;
    margin-left: 83px;
  }

  .logos-container {
    display: grid;
  grid-template-rows: repeat(2, 1fr);
   
  }

 
}
